*{
    margin: 0px;
    padding: 0px;
}

.jtc-building{
    width:100%;
    margin: auto;
}

.jtc-logo{
    width: 60%;
    height: 75%;
    float:right;
    margin-right: 20px;
}

.cbm-logo{
    width:65%;
    height:62%;
    float: left;
    margin-left: 20px;
}

.login-input{
    margin-top:11px;
    margin-left: -25px;
}

.login-rmbpass{
    font-size: 10px;
}